APP_NAME="Career"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://37.46.128.102
HTTP_PORT=80

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=career
DB_USERNAME=career
DB_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database

MAIL_MAILER=log
